version: '3.9'

services:
  bash:
    image: phosphorgus/bt-dev
    container_name: bt-cicd
    build:
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"

volumes:
  node_modules: