services:
  app:
    image: phosphorgus/bt-dev
    container_name: bt-cicd
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - .:/app:cached
      - node_modules:/app/node_modules
    ports:
      - 3000:3000
    restart: unless-stopped

volumes:
  node_modules: {}