services:
  dev:
    image: phosphorgus/bt-dev
    container_name: baby_tracker-dev
    working_dir: /app
    depends_on:
      - db
    ports:
      - 3000:3000
    environment:
      NODE_ENV: development
    volumes:
      - .:/app:cached
      - node_modules:/app/node_modules
    command: npm run dev
    restart: "no"

  db:
    image: phosphorgus/bt-db
    container_name: baby_tracker-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: superadmin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: babytracker
    ports:
      - 27017:27017
    volumes:
      - mongodb:/data/db
      - mongodb_config:/data/configdb
    restart: unless-stopped

volumes:
  node_modules: {}
  mongodb: {}
  mongodb_config: {}
